@75f:registry=https://pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/registry/ 
@75f:always-auth=true

; begin auth token 
//pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/registry/:username=${RSL_NPM_REGISTRY_USERNAME} 
//pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/registry/:_password=${RSL_NPM_REGISTRY_PASSWORD}
//pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/registry/:email=na
//pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/:username=${RSL_NPM_REGISTRY_USERNAME} 
//pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/:_password=${RSL_NPM_REGISTRY_PASSWORD} 
//pkgs.dev.azure.com/75fdevelopment/a92ce35a-2553-4a44-a5a8-434ed0f35204/_packaging/renatus/npm/:email=na
; end auth token