/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

.content {
  position: relative;
}

/********************* Box - Whisker Plot *****************/

.whiskerLine {
  stroke: #acacac;
  stroke-width: 1;
  fill: none;
}

.whisketBoxText {
  font-size: 11px;
  fill: #acacac;
}


.sitesBarArea {
  margin-top: 8px;
}

/********************* Sunburst Plot ***********************/

.sunburstSlice {
  user-select: none;
}

.sunburstSlice .sunburstMainArc {
  stroke: var(--white);
  stroke-width: 1px;
}

.sunburstSlice .sunburstHiddenArc {
  fill: none;
}

.sunburstNormalText {
  font-size: 1em;
  fill: var(--white);
}

.sunBurstMainText {
  pointer-events: none;
  text-anchor: middle;
  font-family: sans-serif;
}

.sunBurstMainText text {
  font-size: 1.2em;
  fill: #444;
  font-family: serif;
}

.sunburstSlice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

#sunburst {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .listArea {
    width: calc(100% - 510px);
    min-width: 280px;
    max-width: 400px;

    .parent,
    .childList li {
      width: 100%;

      display: flex;
      justify-content: space-between;
    }

    .parent {
      font-size: 1.2rem;
      color: #666;
      margin-top: 16px;
    }
  }

  .childList {
    list-style: none;
    padding-left: 0px;

    li {
      display: flex;
      align-items: center;

      font-size: 0.8rem;
      color: #666;

      margin-bottom: 5px;

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  .others {
    font-size: 0.6rem;
    opacity: 0.8;
  }

  .colorBox {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
  }
}

/************ PEU Plot ****************/

.peu {
  position: relative;
}

.peuToolTip {
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
  min-width: 160px;
  height: auto;
  font-size: 12px;
  line-height: 12px;

  position: absolute;
  font-family: "Roboto", sans-serif;
}

.peuToolTipList {
  list-style: none;
  padding-left: 0px;
  margin: 2px;
  white-space: nowrap;
}

.peuToolTipList li {
  padding: 5px;

  display: block;
  width: 100%;

  box-sizing: content-box;
}

.peu-y-axis-grid line {
  stroke: lightgray;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.peuXAxisGroup .tick line,
.peuYAxisGroup .tick line,
.peu-y-axis-grid .domain {
  visibility: hidden;
}

.peuXAxisGroup .domain,
.peuYAxisGroup .domain {
  visibility: hidden;
}

.peuXAxisGroup .tick text {
  color: #acacac;
}

.peuYAxisGroup .tick text {
  color: #acacac;
}

// .peuXAxisGroup .tick:nth-child(2n) text {
//   visibility: hidden;
// }

/************ Terrain **************/

#plc {
  // .modebar-container,
  // .infolayer {
  //   display: none !important;
  // }
  .svg-container {
    margin: -40px 0 0 0;
  }
}

#scene {
  bottom: 46px;
  top: unset !important;
}

.plotlyjsicon {
  display: none !important;
}


.js-plotly-plot .plotly {
  left: 0px !important;

  .modebar-container {
    top: unset !important;
    bottom: 10px !important;
  }

  .modebar {
    right: 2px !important;
    bottom: 0px !important;
    top: unset !important;
  }
}



/**********Grids and Axes ******************/

.chartGrid line {
  stroke: #EBECED;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}

.chartGrid path {
  stroke-width: 0;
}

.axis--x .domain {
  stroke: lightgray;
}

.axis--x .tick line,
.axis--y .tick line,
.axis--y .domain {
  visibility: hidden;
}

.axis--x .tick text,
.axis--y .tick text {
  color: #CCCCCC;
}

.axis--y {
  &.averageChart--y {
    .tick text {
      color: #888;
    }
  }
}

.axis--x {
  .tick:last-child {
    text {
      text-anchor: end;
    }
  }

  &.bcv {
    text {
      text-anchor: middle !important;
    }
  }

  &.no-visibility {
    .domain {
      visibility: hidden;
    }
  }

  &.heatmap .tick:last-child {
    text {
      text-anchor: middle;
    }
  }
}

.line {
  stroke-width: 1px;
}

/**********Tooltip*******************/

.chartToolTip {
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  min-width: 220px;
  height: auto;
  font-size: 12px;

  position: absolute;
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;

  &.boxWhisker {
    min-width: 80px;
    left: -20px;
    text-align: left;
    padding-left: 0px;

    background-color: transparent;
    border: none;

    margin: 0px;

    color: #acacac;

    .toolTipList li {
      padding: 4px 4px 0 2px;
    }
  }

  &.trendToolTip {
    width: 280;
    max-width: 280px;
    background-color: #ebebeb;
    margin-top: 0px;

    &.toolTipList li {
      width: 98%;
      font-size: 11px;
      line-height: 10px;
      padding-bottom: 3px;
      display: flex;

      label {
        width: 210px;
        padding-right: 1px;
        display: inline-block;
        overflow-wrap: anywhere;
        /* word-break: break-all; */
        white-space: break-spaces;
        color: #777;
        text-transform: capitalize;
      }

      b.value {
        width: 70px;
        display: inline-block;
        white-space: break-spaces;
        word-break: break-all;
        padding-left: 4px;
      }
    }
  }

  &.pieTip {
    min-width: unset;
    width: auto;
  }
}

.toolTipList {
  list-style: none;
  /* padding-left: 0px; */
  text-align: left;
  box-sizing: content-box;
  white-space: nowrap;
  // display: block;
}

.toolTipList li {
  padding: 4px 4px 0 4px;

  display: block;
  width: 100%;

  box-sizing: content-box;
}

.referenceViewLine {
  position: absolute;
  width: 2px;
  left: -1500px;
  z-index: 199;
  border: 1px dashed #dedede;
}


.tooltipInfo {
  width: 260px;
  height: 230px;
  border: 1px dashed #cdcdcd;
  margin-left: 16px;
}

/*************Line Chart / Area Chart********************/

.areaChart,
.lineChart {
  z-index: 0;
  &:hover {
    position: relative;
    z-index: 200;
  }
}

.lineChartToolTip,
.areaChartToolTip {
  z-index: 221;
}

/****************** Average Demand ********************/

.averageDemandToolTip {
  .chartToolTip {
    min-width: 190px;
  }
}

/*********************** Common CSS *********************/

.text-light {
  color: rgba(51, 51, 51, 0.6);
}

.text-uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/******************** Pie Chart ***************************/

.donutFirstLine {
  font-weight: 400;
  font-size: 16px;
}

.donutSecondLine {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

#pie {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  .textArea {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    h2 {
      margin-bottom: -2px;
      font-weight: 400;
    }

    .breakup {
      margin-top: 10px;
    }

    .details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      font-weight: 200;
      font-size: 0.68rem;

      max-width: 450px;

      .value {
        margin: 0px 12px 0px 4px;
      }
    }

    .colorBox {
      width: 8px;
      height: 8px;
      border-radius: 1px;
      display: inline-block;
      margin-right: 4px;
    }
  }
}

/***************** Carbon Reduction **********************/

.carbonReduction {
  display: flex;
  flex-direction: column;

  .firstRow,
  .secondRow {
    display: flex;
    align-items: flex-end;

    .text,
    .icon {
      padding: 20px;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 400;
      color: #666;
    }

    label {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    .small {
      font-size: 0.7rem;
    }
  }
}

/***************** Savings Scorecard ************************/

.savingsScorecard {
  display: flex;
  flex-direction: column;

  .firstRow,
  .secondRow {
    display: flex;
    align-items: center;

    .text,
    .graphics,
    .icon {
      padding: 20px;
    }

    .value {
      // font-size: 16px;
      font-weight: 400;
      color: #666;
    }

    label {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    .small {
      font-size: 0.7rem;
    }
  }

  .graphics {
    display: flex;
    align-items: flex-end;
  }
}

/*********************** MAP ***************************/

// .mapPin {
//   width: 30px;
//   height: 30px;
//   border-radius: 50% 50% 50% 0;
//   border: 1px solid #222;
//   // background: #00cae9;
//   position: absolute;
//   transform: rotate(-45deg);
//   margin: -20px 0 0 -20px;
// }

// .mapPin:after {
//   content: "";
//   width: 8px;
//   height: 8px;
//   margin: 7px 0 0 11px;
//   background: #e6e6e6;
//   border: 1px solid #222;
//   position: absolute;
//   border-radius: 50%;
// }

.pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 9px 0px 0px -8px;
  transform: rotateX(55deg);
  z-index: -2;

  &:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #89849b;
    animation-delay: 1.1s;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.mapPopup {
  padding: 4px 8px;

  .siteName {
    font-weight: 600;
  }

  label {
    margin-right: 6px;
    font-weight: 400;
  }

  .value {
    font-weight: 600;
  }
}
.tooltipStyle {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Lato Bold";
}


/*********************** TREND LINE ***************************/

svg.trendlineData {
  max-width: calc(100% + 100px);
}

.vacation-modal-dialog .mat-dialog-container {
  padding: 0 !important;
}


/************************************************************/

.noDataAvailable {
  fill: #000000 !important;
  opacity: 0.5;
}